<div class="row">
{{#visualizations}}
    <div class="col-sm-6">
        <a class="thumbnail-link" href="{{sourceUrl}}"{{^iframe}} rel="external" target="_blank"{{/iframe}}>
            <article class="thumbnail thumbnail-visualization">
                <img alt="{{title}}" src="{{thumbnailUrl}}">
                <div class="caption">
                    <h1>{{title}}</h1>
                    <p>{{description}}</p>
                </div>
            </article>
        </a>
    </div>
{{/visualizations}}
</div>
