<div class="row">
{{#visualizations}}
    <div class="col-sm-6">
        <a href="{{url}}">
            <div class="thumbnail thumbnail-visualization">
                <img alt="{{title}}" src="{{thumbnail_url}}">
                <div class="caption">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                </div>
            </div>
        </a>
    </div>
{{/visualizations}}
</div>
